/*INICIO CSS -VERIFICAR*/
body {
    background: #EFEFEF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;
    align-items: center;
    border-bottom: solid #AAA 0.5px;
}

header img {
    height: 51px;
}

header div {
    display: flex;
    align-items: center;
}

header h2 {
    color: #D13239;
    font-size: 32px;
    font-weight: 600;
    height: fit-content;
}

hr {
    height: 50px;
    margin: 0 8px;
}

header button {
    border: none;
    background-color: #D13239;
    color: #EFEFEF;
    padding: 1rem;
    margin-right: 8px;
    border-radius: 8px;
}

header button:hover {
    background-color: #bd2f36;
}

header span {
    font-size: 1rem;
}

header a {
    text-decoration: none;
    font-size: 1rem;
    color: #1D1D1B;
}

h1 {
    font-size: 48px;
}

#principal {
    display: flex;
    padding: 1rem 3rem 0rem 3rem;
    justify-content: space-between;
}

#principal-textos {
    max-width: 44%;
    align-content: center;
}

#principal-textos p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #808285;
    font-size: 24px;
}



.btn {
    border: none;
    color: #EFEFEF;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
}

.btn-red {
    background-color: #D13239;
    color: #EFEFEF;
}

.btn-primary {
    background-color: #00A5A2;
    color: #EFEFEF;
}

#inicio {
    height: 500px;
}

#iniciar {
    background-color: #00A5A2;
}

#como-funciona {
    background-color: #C4D1D6;
    color: #1D1D1B;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-att {
    width: 100%;
}