{% extends "base.html" %} 
{% block content %}
<div>
    <div id="principal">
        <div id="principal-textos">
            <h1>Treine para o <br> vestibular da <span style="color: #D13239; font-weight: 550;">UNIVESP</span></h1>
            <p>Resolva simulados e teste seus conhecimentos com provas anteriores</p>
            <button class="btn" id="iniciar">Iniciar simulado → </button>
            <button class="btn" id="como-funciona">Como funciona?</button>
        </div>
            <img id="inicio" src="{{url_for('static',filename='imagens/inicio.png')}}" alt="" srcset="">
</div>
<div class="cards">
    <div class="item">
        <img src="{{url_for('static',filename='imagens/questoes.png')}}" alt="">
        <p><span class="item-titulo">+200</span> questões disponíveis</p>
    </div>
<div class="item">
    <img src="{{url_for('static',filename='imagens/universidade.png')}}" alt="">
    <p><span class="item-titulo">UNIVESP</span>Foco total</p>
</div>
<div class="item">
    <img id="" src="{{url_for('static',filename='imagens/gratuito.png')}}" alt="">
    <p><span class="item-titulo">+100%</span> gratuito</p>
</div>
    </div>
</div>
{% endblock %}